body
{
    background-image: url("../images/space.jpg");
    background-size: cover;
}

h1
{
    font-size: 36px;
    text-align: center;
}

h2
{
    font-size: 28px;
}

button
{
    /*border-radius: 75%;*/
    /*width: 5%;*/
    
}

.answer
{
    width: 10%;
    margin: auto;
    text-align: center;
    
}

.answer:hover
{
    background-color: black;
    color: white;
}

#play-area
{
    /*background-color: black;*/
    /*opacity: .5;*/
    /*padding-top: 10%;*/
    width: 75%;
    margin: auto;
    margin-top: 10%;
    min-height: 160px;
    color: white;
    text-align: center;
}

